version: "3"
services:
  redis:
    container_name: redis 
    image: redis
    restart: always
    ports: 
    - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning 
  backend:
    build: .
    container_name: backend
    command:  gunicorn core.wsgi --bind 0.0.0.0:8000
    # python manage.py makemigrations && python manage.py migrate && python manage.py collectstatic --noinput &&
    volumes:
      - ./core:/app
      - static_volume:/app/static
      - media_volume:/app/media
    expose:
      - "8000"
    environment:
      - SECRET_KEY=test
      - DEBUG=False
    depends_on:
      - redis
  nginx: 
    image: nginx
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/home/app/static
      - media_volume:/home/app/media  
    depends_on:
      - redis 
      - backend

  worker:
    build: .
    command: celery -A core worker --loglevel=info
    volumes:
      - ./core:/app
    depends_on:
      - redis 
      - backend

  master:
    image: locustio/locust
    ports:
     - "8089:8089"
    volumes:
      - ./core/locust:/mnt/locust
    command: -f /mnt/locust/locustfile.py --master -H http://backend:8000/
  
  workers:
    image: locustio/locust
    volumes:
      - ./core/locust:/mnt/locust
    command: -f /mnt/locust/locustfile.py --worker --master-host master

volumes:

  static_volume:

  media_volume:


  # celery_periodic_run:
  #   build: .
  #   command: celery -A core beat -l info
  #   volumes:
  #     - ./core:/app
  #   depends_on:
  #     - worker

# volumes:
#   smtp4dev-data:
